/* INIZIO: css per centrare il carousel su schermo */
html,body{
	height:100%;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.5s ease-in-out left !important;
    -moz-transition: 0.5s ease-in-out left !important;
    -o-transition: 0.5s ease-in-out left !important;
    transition: 0.5s ease-in-out left !important;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}
/* FINE: css per centrare il carousel su schermo */

.carousel h1 {
	font-size: 55px;
	font-family: 'Maven Pro';
	text-shadow: none;
	/*white-space: nowrap;*/
}

.carousel .carousel-caption {
	/*border:solid 1px red; */
	margin: auto;
	bottom:30%;
	right:5%;
	left:5%;

}



@media (max-width: 767px) {

	.carousel-indicators li {

		height: 26px;
		width: 26px;
		margin: 0px 10px 25px 10px;
	}

	.carousel-indicators .active {
		width: 26px;
		height: 26px;
		margin: 0px 10px 25px 10px;
	}

}