/* INIZIO: css per centrare il carousel su schermo */
html,body{
	height:100%;
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.allegati_correlati a{
	font-size: 18px;
	font-weight: bold;
	color: #58585a !important;
}


.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.fill{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}


.carousel h1 {
	font-size: 55px;
	font-family: 'Maven Pro';
	text-shadow: none;
	margin-bottom: 5px;
	/*white-space: nowrap;*/
}

.carousel h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	/*white-space: nowrap;*/
}


.carousel .carousel-caption {
	/*border:solid 1px red; */
	margin: auto;
	bottom:2%;
	right:5%;
	left:5%;

}

/* necessario per posizionare il footer sopra il carousel di sfondo */
#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 25px;
	margin-top: -25px;	
}

#footer-custom-content {

	border-color: white;
	color: white;
	/*border-right: solid 3px;*/
	height: 25px;
	margin-right: 8%; 
	margin-left: 8%;
	/*padding-right: 10px; 
	padding-left: 10px; */
	line-height: 25px;
	font-size: 12px;

}

#footer-custom-content a {	
	color: white;
	font-size: 13px;
	text-decoration: none;
}


#titlePage {
	font-size:45px; 
	line-height:45px; 
}

.titleSection {
	font-size:40px; 
	line-height:40px; 
	color: #b1c903;
	margin-top: 25px;
	margin-bottom: 25px;
}

.blogPostTitle {
	font-size:22px; 
	line-height:20px;
	font-weight: bold;	
	color: #b1c903;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	text-transform: uppercase;
}

.blogPostPublishedBy {
	font-size:14px; 
	line-height:20px;
	font-weight: normal;	
	color: #58585a;
	margin-top: 5px;
	margin-bottom: 5px;
}

.blogCommentPublishedBy {
	font-size:14px;
	font-weight: bold;
	color: #b1c903;
	padding-top: 0px;
	margin:0;
	text-transform: uppercase;
}

.blogCommentText {
	font-size:14px; 
	line-height:20px;
	font-weight: normal;	
	color: #58585a;
	margin-top: 5px;
	margin-bottom: 5px;
}

.blogPostContent {
	font-size:18px; 
	line-height:20px;
	font-weight: normal;	
	color: #58585a;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: justify;
}

.blogTag {
	color:#FFFFFF;
	background: #58585a;
	padding: 2px 5px 2px 5px;
	/*border: solid 2px #58585a;
	cursor: pointer;*/
	font-size:12px;
	margin-bottom:4px;
}

.titleAllegati {
	font-size:20px; 
	line-height:20px; 
	color: #b1c903;
	margin-top: 5px;
	margin-bottom: 5px;
	
}

.pulsanteReadMore {
	color:#58585a;
	background: #FFFFFF;
	padding: 2px;
	border: solid 2px #58585a;
	cursor: pointer;
	font-size:12px; 	
}


.mediaBlogTitle {
	text-align:left; 
	font-size:20px; 
	line-height:20px; 
	color: #b1c903;
	margin-top:15px;
	margin-bottom:15px;
}

.posizioniAperteTitolo {
	font-size: 18px;
	font-weight: bold;
	color: #b1c903 !important;
	padding-top: 15px;
	padding-bottom: 5px;
}

.posizioniAperteTesto {
	font-size: 14px;
	font-weight: normal;
	color: #58585a !important;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 

	#page-carousel-div {
		height:60px;
	}

	#white-spacer-div {
		height: 60px;
		background-color: white;
	}

}
/* FINE: css per centrare il carousel su schermo */


@media (min-width: 768px) and (max-width: 1024px) { 

	#page-carousel-div {
		height:200px;
	}

	#titlePage {
		font-size:20px; 
		line-height:20px; 
	}

	#white-spacer-div {
		height:130px;
		background-color: white;
	}
}

@media (min-width: 1024px) and (max-width: 1440px) { 

	#page-carousel-div {
		height:300px;
	}

	#white-spacer-div {
		height:130px;
		background-color: white;
	}
}

@media (min-width: 1440px) { 

	#page-carousel-div {
		height:400px;
	}

	#white-spacer-div {
		height:130px;
		background-color: white;
	}
}
