<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GPTestGPS.aspx.cs" Inherits="GPTestGPS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Pagina senza titolo</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <SPAN style='FONT-SIZE: 11pt; LINE-HEIGHT: 115%; FONT-FAMILY: Calibri,sans-serif; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: Times New Roman; mso-bidi-theme-font: minor-bidi; mso-ansi-language: IT; mso-fareast-language: EN-US; mso-bidi-language: AR-SA>- Vasca montata su telaio in alluminio con piedini regolabili.</SPAN>
HTTP/1.0 302 Found
1
t/
Cache-Control: private
Content-Type: text/html; charset=UTF-8
Set-Cookie: PREF=ID=886869e63df85a46:FF=0:TM=1328203459:LM=1328203459:S=3vdaAQSkk9Pt4fXj; expires=Sat, 01-Feb-2014 17:24:19 GMT; path=/; domain=.google.com
Date: Thu, 02 Feb 2012 17:24:19 GMT
Server: gws
Content-Length: 218
X-XSS-Protection: 1; mode=block
X-Frame-Options: SAMEORIGIN

</div>
    </form>
</body>
</html>
