

.mediasoft-btn {
			color:white;
			background: transparent;
			padding:2px 8px 2px 8px;
			margin: 5px;
			border:solid 2px white;
			font-size:22px;
			outline: none;
		}

		.mediasoft-btn:hover {
			color: #d2d2d2;
			border:solid 2px #d2d2d2;
			outline: none;
		}

		#modalContentWindow .modal-dialog {
			margin-left:8%; 
			margin-right:8%; 
			margin-top:15%; 
			margin-bottom:10%; 
			width:auto; 
			height:60%; 
			padding:0px;
			background:transparent;
		}

		#modalContentWindow .modal-content {
			
			height:100%;
			background-color: rgba(255, 255, 255, 0.5);
			border:none;
			box-shadow:none;
		}

		#modalContentWindow .modal-title {
			font-size:40px;
			text-align:center;
			vertical-align: top;
		}

		.modal {
		    overflow-y: auto;
		}


		#modalContentWindow .modal-header {
			border:none;
		}


		#modalContentWindow .modal-body {
			height:100%;
		}

		#modalContentWindow .row {
			height:100%;
		}

		#modalContentWindow .col-full-height {
			height:100%;
			padding-bottom: 40px;
		}

		#modalContentWindow .thumbnail {
			background-color: transparent;
			padding: 0px;
			border:none;
			height:100%;
		}

		#modalContentWindow .modal-image-container {
			width:100%; 
			height:50%; 	
			background-repeat: no-repeat;
			background-size: cover;
			background-color: rgba(0,0,0,0.5) !important;
			background-position: center;
		}


		@media (max-width: 1024px) {

			#modalContentWindow .modal-image-container {
				background-size: contain;
			}

		}

		#modalContentWindow .caption {
			background-color: #58585a;
			margin-top: 2px;
			height: 40%;
		}

		#modalContentWindow h5 {
			margin:0;
			padding:0;
			color: #b1c903;
			font-size:15px;
			font-weight:900;
			min-height: 25%;
		}

		#modalContentWindow h6 {
			color: white;
			overflow: hidden;
			height: 55%;
			text-align: justify;
			margin:0;
			padding:0;
		}

		#modalContentWindow h7 {			
			min-height: 20%;
			margin:0;
			padding:0;
		}

		#modalContentWindow a {	
			color: #b1c903;						
		}

		#modalContentWindowTitle {
			color: white;
		}