@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0.0; }            
    to { opacity: 1.0; }
}


.third-level-menu {
  clear:both; 
  padding-top:10px !important;
  display:none;
}

/* per rendere trasparente la navbar */
.transparent_navbar {
      border-width: 0px;
      -webkit-box-shadow: 0px 0px;
      box-shadow: 0px 0px;
      background-color: rgba(0,0,0,0.0);
      background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
      background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
      background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
      background: transparent;
}



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {     

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    /*margin-top: 20px;*/
    /*margin-bottom: -180px;*/ /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}



/*
Navbar "hovernav" dropdown menu - this works only for screen sizes larger than phones.
The Bootstrap CSS is unchanged. If you don't want this, delete this segment of the CSS
and delete the corresponding segment of bst.js
*/
@media (min-width:768px) and (max-width: 1023px)  {

    #imageLogo {
    
        width:1px;
        padding:0px;
        margin:0px;
    }

    #navLogo {
        
        padding: 0px !important;
        
    }
  
}

@media (min-width: 769px) {

      #imageLogo {
      
          /*width:165px;
          height:106px;
			*/
          width:140px;
          height:90px;
          
      }

      .navbar-nav .caret {
        display: none;
      }
      .navbar-nav .open ul {
        display: none;
    	}

      /* commentato per prova...sembra on cambi nulla
      .navbar-default .navbar-nav > .open > a,
      .navbar-default .navbar-nav > .open > a:hover,
      .navbar-default .navbar-nav > .open > a:focus,
      .navbar-default .navbar-nav > .active > a,
      .navbar-default .navbar-nav > .active > a:hover,
      .navbar-default .navbar-nav > .active > a:focus {
        color: #555;
        background: none;
      }
*/
      .navbar-default .navbar-nav > .hovernav > a {
    		/*color: #555;*/
    	}

      .navbar-default .navbar-nav > .hovernav:hover > a,
      .navbar-default .navbar-nav > .hovernav:hover > a:hover,
      .navbar-default .navbar-nav > .hovernav:hover > a:focus {
          color: white;
          background: transparent;      
          
      }

      .navbar-default .navbar-nav > .hovernav:hover > a + div,
      .navbar-default .navbar-nav > .hovernav:hover > a:hover + div,
      .navbar-default .navbar-nav > .hovernav:hover > a:focus + div {           
          display:block !important;   

      }

    	.navbar-default .navbar-nav > li:hover {
          background: transparent;
      }


      .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block ;
        -webkit-animation: fadeIn 0.15s ease-in;
        -mozkit-animation: fadeIn 0.15s ease-in;
        -o-animation: fadeIn 0.15s ease-in;
        animation: fadeIn 0.15s;      
    	}

      /* elementi utili a centrare la navbar nello schermo */
      .navbar .navbar-nav {
        display: inline-block;
        float: none;
      }

      .navbar .navbar-collapse {
        text-align: center;
      }
      /* elementi utili a centrare la navbar nello schermo */

      .navbar .navbar-collapse {
        text-align: center;
      }
      /* elementi utili a centrare la navbar nello schermo */


 

      /* questo css non agisce direttamente sull'oggetto avente classe 'secondo-livello-selezionato' ma agisce sul div adiacente (adjacent selector)) per mostrare la sottolineatura */
      .secondo-livello-selezionato + div {          
        display:block !important;             
      }

      #navLogo {
          margin-top:5px !important;
          padding: 0px 25px 0px 25px;
      }

      #navLogo > a {
          background-image: none;
      }

      #navBarMainUl > li {
          margin-top:40px;
          /* border: solid 1px yellow; */
      }



      /* 'li' di secondo livelo */
      .list-inline > li {
        /* border: solid 1px blue; */
        margin: 15px 8px 0px 8px;
        padding: 0px;

        /* sembra che anche i li debbano avere line-height pari al font-size*/
        line-height: 13px;
      
      }


      /* div di terzo livello */
      #navBarMainUl > li > ul > div {
          /* border:solid 1px purple;*/
          display:none; 
          width:265px;
          /*width:222px\9;*/
          padding: 0px;
          margin: 0px;
          float: laft;

      }


      .menu-left-item {
          margin-right: 0px;
      } 

      .menu-right-item {
          margin-left: 0px;
      } 

      #navBarMainUl a {
          font-size: 13px;
          line-height:13px;
          color: #58585a;
          padding: 0px; 
          margin: 0px;
      }

      #navBarMainUl a {
          text-decoration: none;
      }

      #linkHomeMobile {
          display: none;
      }

      .underliner {
          /*border-top: solid 1px white;  */
          width: 100%;
          display: none;
          position: absolute; 
          height:3px;
          background-image:url('images/line_white.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20% 5px;

      }


    /* customizzazione secondo livello menù per eliminare colore sfondo*/
    .second-level-submenu-custom {
        background-color: transparent;
        background: transparent;
        border: none;     
        border-radius: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-clip: none;      
        white-space:nowrap;
        margin: 0px;
        padding: 0px;
    }

}

@media (max-width: 769px) {

  #navContainer {
      padding: 0px;
  }

  .navbar-toggle {
      float: left;
      margin-left: 15px;
  }

  #navLogo {
      display: none;
  }

  #linkHomeMobile {
      display:block;
  }

  #navBarMainUl {
      left:  0px !important;
  }

  .menu-left-item {
      margin-right: 0px !important;
  } 

  .menu-right-item {
      margin-left: 0px !important;
  } 

  #navContainer button {
    text-align:center;
    padding:2px;
  }

  #navContainer img {
    width: 50%;
  }

  #navBarMainUl a {

      font-size: 13px;
      line-height:13px;
      color: white !important;
      padding: 0px; 

  }

  /* link di primo livello per mobile */
  #navBarMainUl > li > a {
      
      margin: 15px 0px 15px 15px;

  }

  .list-inline > li {   
    margin: 0px;
    padding: 0px 15px 0px 0px;
  }

  .list-inline {
    float: none !important;
    margin-left: 20px;
  }



  .list-inline > li > a,
  .list-inline > li > a:hover,
  .list-inline > li > a:visited {

      text-decoration: none;
      color: #eaeaea !important;

  } 

  .navbar-collapse  {
    background-color: rgba(0,0,0,0.7) !important;
  }

  .navbar-default .navbar-toggle:hover, 
  .navbar-default .navbar-toggle:focus {
    background-color: rgba(0,0,0,0.7) !important;
    outline:none;
  }

  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
  }

}

