﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    ATTENZIONE: Immettere i dati spostando il punto dopo la quarta cifra Es. 4015.81599 , 1803.32484 e cliccare su Ottieni Coordinate<br />
    
    Lat: <asp:TextBox runat="server" ID="txtLat"></asp:TextBox><br />
    Lon: <asp:TextBox runat="server" ID="txtLon"></asp:TextBox><br />
        <br />
         <asp:Button runat="server" ID="bttOttieni" Text="Ottieni coordinate" 
            onclick="bttOttieni_Click" />
        <br />
        <asp:Label runat="server" ID="lblMappa"></asp:Label>
        <br />
   
    </div>
    </form>
</body>
</html>
