﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GPSStefano.aspx.cs" Inherits="GPSStefano" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Pagina senza titolo</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <SPAN style='FONT-SIZE: 11pt; LINE-HEIGHT: 115%; FONT-FAMILY: Calibri,sans-serif; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: Times New Roman; mso-bidi-theme-font: minor-bidi; mso-ansi-language: IT; mso-fareast-language: EN-US; mso-bidi-language: AR-SA>- Vasca montata su telaio in alluminio con piedini regolabili.</SPAN>
    </div>
    </form>
</body>
</html>
