﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="graphSinotticoLive.aspx.cs" Inherits="graphSinotticoLive" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Pagina senza titolo</title>

    <link rel="stylesheet" type="text/css" href="./ext-4.0.2a/resources/css/ext-all.css" /> 
    <link rel="stylesheet" type="text/css" href="./ext-4.0.2a/examples/shared/example.css" /> 
    <script type="text/javascript" src="./ext-4.0.2a/bootstrap.js"></script> 
    <script type="text/javascript" src="./ext-4.0.2a/examples/example-data.js"></script> 
    
  <%-- <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAALwc-_y0WBrkrvQv1dGSIPRTqDoW7jHfnL8THNULDQJUSWpZnlBRF7CPqGrNjMrXs0dCxd1Q-wq5Iew"></script>--%>
  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAALwc-_y0WBrkrvQv1dGSIPRTqDoW7jHfnL8THNULDQJUSWpZnlBRF7CPqGrNjMrXs0dCxd1Q-wq5Iew"></script>


   <%--<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAALwc-_y0WBrkrvQv1dGSIPRTsejT2j2ENu1GVwRaOj4fnFe-vexR_DS14cWbqh6ho6VMhbRUnCnSwyQ"></script>--%>
 
  <%--<script src="http://localhost:52739/PackageNewLookDash/PackageMain/PackageMainUtils.aspx?callback=callback1"></script>--%>
  <script src="http://smoconline.unionkey.com/PackageNewLookDash/PackageMain/PackageMainUtils.aspx?callback=callback1"></script>

    
     <script type="text/javascript" src="./js/kmlManager_tracing.js"></script> 
      <script type="text/javascript" src="./js/egeoxml_tracing.js"></script> 
      <script type="text/javascript" src="./js/sinotticoLive.js"></script> 

</head>
<body > 
    <form id="form1" runat="server">
    <div>
        <div id="pnlTemp" />
        <div id="pnlPerm" />

         <input type="hidden" runat="server" id="pathKml" value="" />
       <input type="hidden" runat="server" id="lblVertice1" value="" />
                  <input type="hidden" runat="server" id="lblVertice2" value="" />
                   <input type="hidden" runat="server" id="lblVertice3" value="" />
                    <input type="hidden" runat="server" id="lblVertice4" value="" />
                    <input type="hidden" runat="server" id="Hidden1" value="" />
                     <input type="hidden" runat="server" id="zoom" value="" />
              <input type="hidden" runat="server" id="center" value="" />
               <input type="hidden" id="day" runat="server" value="" />
            <input type="hidden" id="idSquadra" runat="server" value="" />
             <input type="hidden" id="start" runat="server" value="" />
              <input type="hidden" id="stop" runat="server" value="" />

    </div>
    </form>
</body>
</html>
