﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="graph.aspx.cs" Inherits="graph" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Pagina senza titolo</title>

    <link rel="stylesheet" type="text/css" href="./ext-4.0.2a/resources/css/ext-all.css" /> 
    <link rel="stylesheet" type="text/css" href="./ext-4.0.2a/examples/shared/example.css" /> 
    <script type="text/javascript" src="./ext-4.0.2a/bootstrap.js"></script> 
    <script type="text/javascript" src="./ext-4.0.2a/examples/example-data.js"></script> 
    
   <%-- <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAoBMI1HPJq0Yz9d0ZMis_DxQ08QtmUNd_2XqvCbL75zEedhgp4hSo2AVacCSO4B5PRFifHt6pkyXb0w"></script>--%>
   <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAALwc-_y0WBrkrvQv1dGSIPRTqDoW7jHfnL8THNULDQJUSWpZnlBRF7CPqGrNjMrXs0dCxd1Q-wq5Iew"></script>
  <%--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAALwc-_y0WBrkrvQv1dGSIPRStNGISXYm0mODD3ws-Kg_gBIeVLhTcYBxjIzq8j02aYjUUYAo_7e4v7Q" type="text/javascript"></script>--%>

    <script type="text/javascript" src="./js/temperatura.js"></script> 
     <script type="text/javascript" src="./js/kmlManager.js"></script> 
      <script type="text/javascript" src="./js/egeoxml.js"></script> 

</head>
<body > 
    <form id="form1" runat="server">
    <div>
        <div id="pnlTemp" />
        <div id="pnlPerm" />

         <input type="hidden" runat="server" id="pathKml" value="" />
       <input type="hidden" runat="server" id="lblVertice1" value="" />
                  <input type="hidden" runat="server" id="lblVertice2" value="" />
                   <input type="hidden" runat="server" id="lblVertice3" value="" />
                    <input type="hidden" runat="server" id="lblVertice4" value="" />
                    <input type="hidden" runat="server" id="Hidden1" value="" />
                     <input type="hidden" runat="server" id="zoom" value="" />
              <input type="hidden" runat="server" id="center" value="" />
               <input type="hidden" id="day" runat="server" value="" />
            <input type="hidden" id="idSquadra" runat="server" value="" />
             <input type="hidden" id="start" runat="server" value="" />
              <input type="hidden" id="stop" runat="server" value="" />

    </div>
    </form>
</body>
</html>
