#contenitoreMenu{
	/*border: 1px solid red;*/
	margin-top: 10px;
	text-align: center;
}
.reveal .slides{
	border: 1px solid red !important;
}

.rigaQuestionario{
	border: 1px solid #cecece;
	padding: 10px 10px;
	margin-top: 10px;
}

.customFormGroup {
	margin-bottom: 5px !important;
}


.portlet.light{
	padding: 0px 0px 0px 10px
}

.modal70 > .modal-dialog {
    width:60% !important;
}
.modal90 > .modal-dialog {
    width:90% !important;
}
.modalCalendar > .modal-dialog {
    width:80% !important;
    display:block;
}
.modalPrint > .modal-dialog {
    width:60% !important;
    height: 100% !important;
}
